:root {
    box-sizing: border-box;
    font-family: sans-serif;
}
* {
    margin: 0px; 
    padding: 0px;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    background-color: #2a2a2a;
}

ul.menu {
    position: fixed;
    top: .5em;
    left: .5em;
    font-size: large;
    list-style: none;
}

ul.menu > li {
    cursor: pointer;

    display: inline-block;
    background-color: ghostwhite;
    padding: .5em 1em;
    margin: 0 .2em;
    border-radius: 10px;

}

ul.menu > li > a {
    color: #087F7F;
    transition: color 0.2s ease;
}

ul.menu > li > a:hover {
    color: #CCAC03;
}
