ul.menu {
    position: fixed;
    top: .5em;
    left: .5em;
    font-size: large;
    list-style: none;
    li {
        cursor: pointer;

        display: inline-block;
        background-color: ghostwhite;
        padding: .5em 1em;
        margin: 0 .2em;
        border-radius: 10px;

        color: #087F7F;
        transition: color 0.2s ease;

        &.selected {
            background-color: #8C176D;
            color: #CCAC03;
        }

        &:hover {
            color: #CCAC03;
        }
    }

}
