:root {
    box-sizing: border-box;
    font-family: sans-serif;
}
* {
    margin: 0px; 
    padding: 0px;
    box-sizing: inherit;
}
#app {

    width: 100vw;
    height: 100vh;
    background-color: #2a2a2a;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    touch-action: none;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.loader__text {
    line-height: 100vh;
    text-align: center;
    color: white;
    font-weight: bold;
}
.loader__graphic {
    --size: 10em;
    --halfSize: calc(var(--size)/2);
    --nHalfSize: calc(var(--halfSize) * -1);

    position: fixed;
    width: var(--size);
    height: var(--size);
    left: calc((100vw - var(--size))/2);
    top: calc((100vh - var(--size))/2);

    border-radius: 50%;
    box-shadow: 0 4px 0 0 #e50914;

    -webkit-animation: loader__graphic 1s linear infinite;
    animation: loader__graphic 1s linear infinite;

    -webkit-transform-origin: var(--halfSize) var(--halfSize); 
    transform-origin: var(--halfSize) var(--halfSize); 
}

@keyframes loader__graphic {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loader__graphic {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
